{% extends 'base.html' %}

{% block content %}

<div class="container-fuild mx-5 my-5 ">


  {% if product_list %}


  <div class="row my-5 mx-5 d-flex justify-content-center">

    {% for product in product_list %}
    
        <div class="col-10">
    
          <div class="card mb-3" style="max-width: 840px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ product.product.image.url }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> {{product.product.name}} </h5>
                  <p class="card-text"> {{product.product.description}} .</p>
                  <p class="card-text"> Vendor {{product.product.vendor}}</p>
                  <p class="card-text"><small class="text-body-dark fs-5"> price $ {{product.product.price}} </small></p>
                  
                  <p class="card-text"><small class="text-body-dark fs-5"> Qunatity {{product.quantity}} </small></p>
                  
                </div>
                
    
                <a href="{% url 'add_cart' product.product.id %}" class="btn btn-outline-primary mx-2 fs-5">+</a>
                <a href="{% url 'descrease' product.product.id %}" class="btn btn-outline-primary mx-2 fs-5">-</a>
                
                <a href="{% url 'delete_cart' product.id %}" class="btn btn-outline-danger mx-2">Remove</a>
               
              </div>
    
            </div>
          </div>
    
        </div>
    
      {% endfor %}
    
    
        <div class="mx-5 my-4 text-center  text-white d-flex flex-row justify-content-between py-3 rounded ">
    
        <p class="my-2 mx-5 fs-5 text-dark"> Total Price    <small class="mx-3 fs-5 "> $ {{total_price}} </small> </p>
      
        <button class="btn btn-primary mx-5">checkout</button>
        </div>
    
      </div>

      
  {% else %}

      <p class="fs-5 text-center "> Cart is empty now </p>

  {% endif %}

</div>



{% endblock %}